<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="PomadoroApp.PomadoroApp" android:versionCode="0" android:versionName="0.2" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="23" />
	<application android:label="PomadoroApp" android:icon="@drawable/Icon"></application>
</manifest>